Codes@PISTE01-2018/03-User-Dashboard/SolutionA.A/Node-RED/Node-Red-Flow-SolutionA.txt
 [{"id":"71aba75f.1dc908","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"fbdc9098.47b5e8","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"PISTE01A_2018","tz":""},{"id":"343b51.4930dcb","type":"ui_group","z":"","name":"Sensor 2","tab":"","disp":true,"width":"6","collapse":true},{"id":"32d79e80.3ad14a","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#00C3CE","baseFont":"Verdana,Verdana,Geneva,sans-serif","edited":false,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#64d1ef","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#64d1ef","baseFont":"Verdana,Verdana,Geneva,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":true},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3a99b3f.a0fe0cc","type":"ui_group","z":"","name":"Sensor 1","tab":"","disp":true,"width":"6","collapse":true},{"id":"49b9962f.ab49f","type":"ui_group","z":"","name":"Sensor 2","tab":"","disp":true,"width":"6","collapse":false},{"id":"703e2157.d8daa","type":"ui_group","z":"","name":"Luminosity","tab":"","disp":true,"width":"6","collapse":true},{"id":"11f844d3.d8ff7b","type":"ui_group","z":"","name":"Humidity","tab":"","disp":true,"width":"6","collapse":false},{"id":"c2c8f65c.b5727","type":"ui_group","z":"","name":"Temperature","tab":"","disp":true,"width":"6","collapse":true},{"id":"3939cc4d.49fb44","type":"ui_group","z":"","name":"Luminosity","tab":"","disp":true,"width":"6","collapse":false},{"id":"5e33c45c.efa1f4","type":"ui_group","name":"Group 3","tab":"","order":3,"disp":true,"width":6},{"id":"b9bce0f2.f66be8","type":"ui_tab","z":"","name":"PISTE01 Dashboard : Sensor 1 ","icon":"dashboard","order":1},{"id":"434d2673.39cba8","type":"ui_group","z":"","name":"Luminosity","tab":"b9bce0f2.f66be8","order":2,"disp":true,"width":"6","collapse":true},{"id":"27dcec04.a7098c","type":"ui_group","z":"","name":"Humidity","tab":"b9bce0f2.f66be8","order":1,"disp":true,"width":"6","collapse":true},{"id":"d15c3905.9ade48","type":"ui_group","z":"","name":"Temperature","tab":"b9bce0f2.f66be8","order":3,"disp":true,"width":"6","collapse":true},{"id":"1f8f3184.b40f96","type":"ui_tab","z":"","name":"PISTE01 Dashboard : Sensor 2 ","icon":"dashboard","order":2},{"id":"f0092a4d.41f9f8","type":"ui_group","z":"","name":"Luminosity","tab":"1f8f3184.b40f96","order":2,"disp":true,"width":"6","collapse":false},{"id":"3536eda1.194b62","type":"ui_group","z":"","name":" Humidity","tab":"1f8f3184.b40f96","order":1,"disp":true,"width":"6","collapse":false},{"id":"548a5b3d.fd56bc","type":"ui_group","z":"","name":"Temperature","tab":"1f8f3184.b40f96","order":3,"disp":true,"width":"6","collapse":false},{"id":"e30b3e8d.d63768","type":"mysql","z":"71aba75f.1dc908","mydb":"fbdc9098.47b5e8","name":"PISTE01A_2018","x":360,"y":420,"wires":[["a9327ebd.e3b63","340f122d.9282ae","ef9ce965.9c023"]]},{"id":"44bee030.ac4cb","type":"inject","z":"71aba75f.1dc908","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":280,"wires":[["9b477172.98a3d8","97c0a775.f5705"]]},{"id":"9b477172.98a3d8","type":"function","z":"71aba75f.1dc908","name":"SQL Query Sensor 1","func":"msg.topic= \"SELECT Luminosity, Humidity, Temperature FROM `Agro_Environmental_Parameters` WHERE `Sensor_ID` = 2 ORDER BY ROW_ID DESC\";\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":420,"wires":[["e30b3e8d.d63768"]]},{"id":"a9327ebd.e3b63","type":"function","z":"71aba75f.1dc908","name":"Extract.Luminosity","func":" var output = msg.payload;\n output= output[0]['Luminosity'];\n msg.payload = output;\n return msg;\n ","outputs":1,"noerr":0,"x":610,"y":340,"wires":[["a11e161d.ee8d4","a5d9b796.5a9cc8"]],"inputLabels":["output"],"outputLabels":["output[0]"]},{"id":"340f122d.9282ae","type":"function","z":"71aba75f.1dc908","name":"Extract.Humidity","func":" var output = msg.payload;\n output= output[0]['Humidity'];\n msg.payload = output;\n return msg;","outputs":1,"noerr":0,"x":610,"y":420,"wires":[["36cc2e1d.58cbba","dc721c49.6edde"]]},{"id":"ef9ce965.9c023","type":"function","z":"71aba75f.1dc908","name":"Extract.Temperature","func":" var output = msg.payload;\n output= output[0]['Temperature'];\n msg.payload = output;\n return msg;","outputs":1,"noerr":0,"x":620,"y":500,"wires":[["e9c0845d.9c8ea8","298da5a9.c1083a"]]},{"id":"97c0a775.f5705","type":"function","z":"71aba75f.1dc908","name":"SQL Query Sensor 2","func":"msg.topic= \"SELECT Luminosity, Humidity, Temperature FROM `Agro_Environmental_Parameters` WHERE `Sensor_ID` = 3 ORDER BY ROW_ID DESC LIMIT 1\";\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":140,"wires":[["b6e788e0.044378"]]},{"id":"b6e788e0.044378","type":"mysql","z":"71aba75f.1dc908","mydb":"fbdc9098.47b5e8","name":"PISTE01A_2018","x":360,"y":140,"wires":[["a1adf9dc.622b8","d88fef1d.7dbb48","6d33ab56.42c10c"]]},{"id":"a1adf9dc.622b8","type":"function","z":"71aba75f.1dc908","name":"Extract.Luminosity","func":" var output = msg.payload;\n output= output[0]['Luminosity'];\n msg.payload = output;\n return msg;\n ","outputs":1,"noerr":0,"x":610,"y":60,"wires":[["419de2de.9736bc","74d78f9d.cef908"]]},{"id":"d88fef1d.7dbb48","type":"function","z":"71aba75f.1dc908","name":"Extract.Humidity","func":" var output = msg.payload;\n output= output[0]['Humidity'];\n msg.payload = output;\n return msg;","outputs":1,"noerr":0,"x":610,"y":140,"wires":[["7d62b017.aa227","42c781bb.98f64"]]},{"id":"6d33ab56.42c10c","type":"function","z":"71aba75f.1dc908","name":"Extract.Temperature","func":" var output = msg.payload;\n output= output[0]['Temperature'];\n msg.payload = output;\n return msg;","outputs":1,"noerr":0,"x":620,"y":220,"wires":[["a76b4d41.71c96","41d6e76e.ffe16"]]},{"id":"74d78f9d.cef908","type":"ui_gauge","z":"71aba75f.1dc908","name":"","group":"f0092a4d.41f9f8","order":0,"width":"6","height":"5","gtype":"wave","title":"LUM","label":"LUX","format":"{{value}}","min":"1000","max":"15000","colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":810,"y":40,"wires":[]},{"id":"419de2de.9736bc","type":"ui_chart","z":"71aba75f.1dc908","name":"","group":"f0092a4d.41f9f8","order":0,"width":"6","height":"6","label":" ","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"1000","ymax":"15000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"x":810,"y":80,"wires":[[],[]]},{"id":"7d62b017.aa227","type":"ui_gauge","z":"71aba75f.1dc908","name":"","group":"3536eda1.194b62","order":0,"width":"6","height":"5","gtype":"donut","title":"HUM","label":" %","format":"{{value}}","min":0,"max":"100","colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":810,"y":120,"wires":[]},{"id":"42c781bb.98f64","type":"ui_chart","z":"71aba75f.1dc908","name":"","group":"3536eda1.194b62","order":0,"width":"6","height":"6","label":" ","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"x":810,"y":160,"wires":[[],[]]},{"id":"a76b4d41.71c96","type":"ui_gauge","z":"71aba75f.1dc908","name":"","group":"548a5b3d.fd56bc","order":0,"width":"6","height":"5","gtype":"gage","title":"TEMP","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":810,"y":200,"wires":[]},{"id":"41d6e76e.ffe16","type":"ui_chart","z":"71aba75f.1dc908","name":"","group":"548a5b3d.fd56bc","order":0,"width":"6","height":"6","label":" ","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"x":810,"y":240,"wires":[[],[]]},{"id":"a11e161d.ee8d4","type":"ui_gauge","z":"71aba75f.1dc908","name":"","group":"434d2673.39cba8","order":0,"width":"6","height":"5","gtype":"wave","title":"LUM","label":"LUX","format":"{{value}}","min":"1000","max":"15000","colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":810,"y":320,"wires":[]},{"id":"a5d9b796.5a9cc8","type":"ui_chart","z":"71aba75f.1dc908","name":"","group":"434d2673.39cba8","order":0,"width":"6","height":"6","label":" ","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"1000","ymax":"15000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"x":810,"y":360,"wires":[[],[]]},{"id":"36cc2e1d.58cbba","type":"ui_gauge","z":"71aba75f.1dc908","name":"","group":"27dcec04.a7098c","order":0,"width":"6","height":"5","gtype":"donut","title":"HUM","label":" %","format":"{{value}}","min":0,"max":"100","colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":810,"y":400,"wires":[]},{"id":"dc721c49.6edde","type":"ui_chart","z":"71aba75f.1dc908","name":"","group":"27dcec04.a7098c","order":0,"width":"6","height":"6","label":" ","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"x":810,"y":440,"wires":[[],[]]},{"id":"e9c0845d.9c8ea8","type":"ui_gauge","z":"71aba75f.1dc908","name":"","group":"d15c3905.9ade48","order":0,"width":"6","height":"5","gtype":"gage","title":"TEMP","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":810,"y":480,"wires":[]},{"id":"298da5a9.c1083a","type":"ui_chart","z":"71aba75f.1dc908","name":"","group":"d15c3905.9ade48","order":0,"width":"6","height":"6","label":" ","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"x":810,"y":520,"wires":[[],[]]}]